<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello World!");
function reverseMassage() {
  message.value = message.value.split("").reverse().join("");
}
function notify() {
  alert("navigation was prevent.");
}
</script>

<template>
  <h1>{{ message }}</h1>
  <button @click="reverseMassage">Reverse Massage</button>
  <button @click="message += '!'">Append "!"</button>
  <a href="https://vuejs.org" @click="notify">A link with e.preventDefault</a>
</template>

<style scoped>
button,
a {
  display: block;
  margin-bottom: lem;
}
</style>
